* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
body {
    background-color: rgb(0, 0, 0);
    /* background:  url("./images/background.jpg"); */
}
header {
    background-color: #000000;
    padding: 16px 0;
    color: #fff;
    display:flex;
    border-bottom: 16px solid #6e00fd;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}
.form-image {
    background: url("images/foto11.jpg");
    
}
form {
    border-bottom: 16px solid #6e00fd;
    /* background:linear-gradient(145deg, #0c0383, #720606); */
    padding: 50px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
    font-family:sans-serif;
    color: #f0b208;
    text-shadow: 0 2px 10px #ff0022;
}

input, button {
    border-radius: 10px;
    padding: 8px;
}

button {
    background-color: #bd2e2e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar {
    background-color: red;
}
#botao-adicionar {
    background-color: #036648;
}

ul {
    /* border-bottom: 16px solid #6e00fd; */
    display: flex;
    flex-wrap: wrap;
    display: grid 2,3;
}

ul li {
    border-bottom: 16px solid #350575;
    max-width: 25%;
    list-style: none; 
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
    
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    border-bottom: 16px solid #350575;
    border-bottom: 2px solid red;
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}